<div class="container-md">
  <h1 class="text-center">Stupid Coaching</h1>

  <form class = "text-center" action="/answer" data-turbo="false" method="get">
    <div class = "d-flex flex-column">
      <label for="answers">Ask your coach anything: </label>
      <div>
        <input class="col-8" type="text" name="answers" id="answers">
        <input type="submit" value="Ask!" class="btn btn-primary">
      </div>
    </div>
  </form>
</div>
